/* Colors */
:root {
    --text: #0d0c0e;
    --background: #f2f2f7;
    --primary: #504ac4;
    --secondary: #d8d6f8;
    --accent: #534afc;
    --success: #69ff03;
    --error: #ff3d3d;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: var(--text);
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    /*color: var(--primary);*/
    text-align: center;
    color: blue;
    margin-bottom: 30px;
}

.success {
    color: var(--success);
}

.error {
    color: var(--error);
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    /*background-color: var(--primary);*/
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent);
}