/* Colors */
:root {
    --text: #0d0c0e;
    --background: #f2f2f7;
    --primary: #504ac4;
    --secondary: #8c87ed;
    --accent: #534afc;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: var(--text);
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 30px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#username {
    font-weight: bold;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent);
}

#success-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background-color: var(--secondary);
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
}


#success-overlay.toggle {
    display: flex;
}

#success-overlay svg {
    fill: var(--primary);
    width: 90%;
}